h1{
  font-family: Times New Roman;
  color: pink;
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
}

.icon-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: pink;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 9px 0;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: pink;
}

body {
  font-family: Times New Roman;
  font-size: 20px;
  color: white;
  position: relative;
  margin: 0;
}

table, tr, td{
  border: 1px solid pink;
  border-radius: 50px;
}

table{
  border-style: hidden;
}

tr, td {
  padding: 10px;
  text-align: left; 
  background-color: pink;
}